[Unit]
Description=Numind Sandbox dedicated 8GiB Docker data-root image
Before=local-fs.target

[Mount]
What=/opt/numind-sandbox/data-root.img
Where=/opt/numind-sandbox/data-root
Type=ext4
Options=loop,nosuid,nodev,noexec

[Install]
WantedBy=local-fs.target
